<div ng-app="justdoit" class="container">
    <div class="row">
        <div class="card headCard">
            <div class="card-content">
                <h1 class="text-center" style="color:#fff">Just do it</h1>
            </div>
        </div>
        
        <!-- Menu Lateral -->
        <div class="col-sm-3">
            <div class="card mainCard">
                <div class="card-content">
                    <h3 class="text-center"><span class="glyphicon glyphicon-tag"></span> Categorias</h3>
                </div>
                
                <div class="card-action">
                    <div ng-controller="TasksController" class="list-group">
                        <button type="button" ng-click="index()" class="list-group-item"><span class="glyphicon glyphicon-home"></span> Todas as tarefas</button>
                        <button type="button" ng-click="today('dia')" class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> Para hoje </button>
                        <button type="button" ng-click="week('semana')" class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> Essa semana </button>
                        <button type="button" ng-click="month('mes')" class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> Esse mês</button>
                        <button type="button" ng-click="after('apos')" class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> Apos 30 dias</button>
                        <button type="button" ng-click="completed('completed')" class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Tarefas concluidas</button>
                    </div>
                    <!--  
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Nova categoria</button>
                    </div>
                    -->
                </div>
            </div>
            
           
            <div class="card mainCard">
                <div class="card-content">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" placeholder="Buscar" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM Menu Lateral -->
            
        <!-- Content/Views -->
        <div class="col-sm-9">
            <div class="col-md-6 col-md-offset-1">
                <div>
                    <div class="view-container">
                        <div class="card mainCard">
                            <div ng-view class="view-frame animate-view">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM Content/Views -->
    </div>
</div>
