<div class="card-content">
    <h3 class="text-center"><span class="glyphicon glyphicon-list-alt"></span> Tarefas</h3>
</div>

<aside class="flash row">
    <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3 col-sm-12">
      {{flash.message}}
    </article>
</aside>

<!-- Task list -->
<div class="card-action" ng-controller="FnTasksController">
    <div class="list-group" >
        <button type="button" ng-repeat="task in tasks" ng-click="show(task.id)" class="list-group-item"><span class="glyphicon glyphicon-check"></span> {{task.name}}<span class="badge">{{task.goal}}</span></button>
    </div>
    <div style="text-align: center">
        <!--{{desligado}}-->
        <button type="button" ng-click="newTask()" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Nova tarefa</button>
    </div>
</div>
<!-- FIM Task list -->