<div class="card-action">
  <aside class="flash row">
    <div flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3 col-sm-12">
      {{flash.message}}
    </div>
  </aside>
  
  <!-- Painel --> 
  <div class="panel panel-default">
    
    <header class="panel-heading">
      <div class="row" style="padding-right:15px;padding-left:15px;">
        <h3 class="pull-left" ><span class="glyphicon glyphicon-list-alt"></span> {{task.name | capitalize}}</h3>
        <button ng-if="!task.complete" ng-click="complete()" style="margin-top:17px"class="btn btn-success pull-right"><span class="glyphicon glyphicon-unchecked"></span> Concluir</button>
        <button ng-if="task.complete" ng-click="complete()" style="margin-top:17px"class="btn btn-warning pull-right"><span class="glyphicon glyphicon-check"></span> Retomar</button>
      </div>
    </header>
    
    <div class="panel-body">
      <p><span class="glyphicon glyphicon-book"></span> Notas:</p>
      <textarea disabled class="well" style="width:100%">{{task.description}}</textarea>
      
      <p><span class="glyphicon glyphicon-calendar"></span> Fazer ate:</p>
      <p class="well">{{task.goal | date:'dd-MM-yyyy'}}</p>
      
      <div ng-if="currentLocation() == '/tasks/'+task.id">
        <div>
          <div class="col-md-6">
            <p><span class="glyphicon glyphicon-list"></span> Sub-tarefas:</p>
          </div>
          <div class="col-md-6">
            <button style="margin-top:-10px" class="btn pull-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
          </div>
        </div>
        <div class="collapse" id="collapseExample">
          <div class="list-group" >
            <button ng-if="!subtask.complete" ng-click="showSt(subtask.id)" class="list-group-item" ng-repeat="subtask in subtasks.subtasks"><span class="glyphicon glyphicon-unchecked"></span> {{subtask.name}}<span class="badge">{{subtask.goal | date:'dd-MM-yyyy'}}</span></button >
            <button ng-if="subtask.complete" ng-click="showSt(subtask.id)" class="list-group-item list-group-item-success" ng-repeat="subtask in subtasks.subtasks"><span class="glyphicon glyphicon-check"></span> {{subtask.name}}<span class="badge">{{subtask.goal | date:'dd-MM-yyyy'}}</span></button >
            <button ng-if="subtasks.subtasks.length == 0" class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"></span> Você ainda nao possui sub-tarefas</button >
          </div>
          
          <div style="text-align: center">
            <button type="button" ng-click="newSubtask(task.id)" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Nova sub-tarefa</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <!-- FIM Painel -->
  
  <!-- Buttons -->
  <section class='row'> 
    <div class="col-md-3">
      <button ng-click="back()" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span> Voltar
      </button>
    </div>
    <div class="col-md-9 text-right">
      <button ng-click="edit()" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
      <button ng-click="delete()" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Deletar</button>
    </div>
  </section>
  <!-- FIM Buttons -->
  
</div>
